DATABASE_URL=postgresql://postgres:AgroPostgres2026@localhost:5432/smart_property_db

SECRET_KEY=change_this_to_a_long_random_secret_key

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=120

REFRESH_TOKEN_EXPIRE_DAYS=7